<%= stylesheet_link_tag    'parties', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'parties', 'data-turbolinks-track' => true %>
<h2>Current Parties</h2>


<% @parties.in_groups_of(3, false).each do |group| %>
<div class="row order">
 <% group.each do |party| %>
 <div class="large-4 columns color">
<span class="white">Party No:&nbsp;<%= party.id %></span><br>
<span class="white">Party Name:<%= party.name %></span><br>
<span class="white">Guests:&nbsp;<%= party.guest_total %></span><br>
<span class="white">Table No:&nbsp;<%= party.top_number %></span><br>
<%= link_to "Cash Out", "/parties/#{party.id}", class: "cashout" %>
<%= button_to "Remove", party_path(party), method: :delete, class: "button-primary" %>
    </div>
  <% end %>
</div>
<% end %>



<div id="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3> MODAL TIME!!! </h3>
      <div id="close-modal"> X </div>
    </div>
    <div class="modal-body">
        <input id="img-url"/>
        <button id="submit-btn"> Submit </button>
      </div>
    </div>
</div>
<button id="open-modal"> Open My Modal </button>
