<%= stylesheet_link_tag    'parties', media: 'all', 'data-turbolinks-track' => true %>

<h2>Current Parties</h2>

<% @parties.each do |party| %>
    <div class="row party">
      <div class="two columns"><span class="white">Party No:&nbsp;<%= party.id %></span></div>
      <div class="two columns"><span class="white">Guests:&nbsp;<%= party.guest_total %></span></div>
      <div class="two columns"><span class="white">Table No:&nbsp;<%= party.top_number %></span></div>
      <div class="two columns"><%= link_to "Cash Out", "/parties/#{party.id}", class: "cashout" %></div>
      <div class="two columns"><%= button_to "Remove", party_path(party), method: :delete, class: "button-primary" %></div>
    </div>
  <% end %>
