<%= stylesheet_link_tag    'parties', media: 'all', 'data-turbolinks-track' => true %>

<h4>Add A New Party</h4>
<br>
<%= form_for @party do |f| %>
<div class="row">
  <div class="twelve columns">
  <%= f.label :name, "Party Name" %>
  <%= f.text_field :name %><br>
</div>
<div class="twelve columns">
  <%= f.label :guest_total, "Number of Guests" %>
  <%= f.text_field :guest_total %><br>
</div>
<div class="twelve columns">
  <%= f.label :top_number, "Table Number" %>
  <%= f.text_field :top_number %><br>
<div>
  <div class="twelve columns">
  <%= f.submit :class => "button submit"%>
</div>
<% end %>
