<%= stylesheet_link_tag    'parties', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'parties', 'data-turbolinks-track' => true %>
<%= button_to 'HOME', '/', method: :get, class: "button-primary order " %>
<%= button_to 'Orders', orders_path, method: :get, class: "button-primary" %>
<h4>Bill For Party Number: <%= @party.id %></h4>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Party</th>
    </tr>
  </thead>
  <tbody>
<% @party.orders.each do |order| %>
<tr>
<td><%= order.item.name %></td>
<td><%= order.item.price %></td>
<td><%= order.quantity %></td>
<td><%= order.subtotal %></td>
<td><%= order.party_id %></td>
</tr>
<% end %>
</tbody>
</table>
<br>

<p>Order Subtotal: <%= @party.total %></p>
<p>Tax: <%= '%.2f' % (@party.total * 0.09) %>
<p>10% Tip: <%= '%.2f' % (@party.total + (@party.total * 0.09) * 0.10) %>
<p>15% Tip: <%= '%.2f' % (@party.total + (@party.total * 0.15) + (@party.total * 0.09)) %>
<p>20% Tip: <%= '%.2f' % (@party.total + (@party.total * 0.20) + (@party.total * 0.09)) %>
