<%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track' => true %>

<h4>Admin Page</h4>
<%=form_tag session_path do %>
  <%= text_field_tag :username, "Username"%>
  <%= password_field_tag :password, "Password" %>
  <%= submit_tag "Log In", class: "btn btn-primary"%>
<%end%>
<br>
<%= button_to 'NEW ADMIN', '/admins/new', method: :get, class: "waves-effect waves-light btn" %>
