<%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track' => true %>

<h4>Admin Page</h4>
<br>
<%=form_tag session_path do %>
  <p>Username</p>
  <%= text_field_tag :username %>
  <p>Password</p>
  <%= password_field_tag :password %>
  <%= submit_tag "Log In", class: "button-primary"%>
<%end%>
<br>
