<%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track' => true %>
<h2>Login</h2>
<%= form_tag session_path do %>
  <%= text_field_tag :admin_name %>
  <%= password_field_tag :password %>
  <%= submit_tag "LogIn" %>
<% end %>
