<%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track' => true %>
<h4>Update Menu</h4>
<% @items.each do |item| %>
      <div class="row">
      <div class="three columns"></div>
      <div class="six columns menu"><strong><%= item.name %></strong></div>
      <div class="three columns"></div>
      </div>
      <div class="row">
      <div class="push_three three columns"></div>
      <div class="six columns menu"><%= item.description %></div>
      <div class="pull_three three columns"></div>
      </div>
      <div class="row">
      <div class="three columns"></div>
      <div class="six columns menu"><%= item.price %></div>
      <div class="three columns"></div>
      </div>
      <div class="row">
      <div class="three columns"></div>
      <div class="six columns menu"><%= button_to "Remove", item_path(item), method: :delete, class: "button-primary"%></div>
      <div class="three columns"></div>
      </div>
      <div class="row">
      <div class="three columns"></div>
      <div class="six columns menu"><%= button_to "Edit", edit_item_path(item), method: :get, class: "button-primary" %></div>
      <div class="three columns"></div>
      </div>

  <% end %>
