<%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track' => true %>
<%= button_to 'HOME', '/', method: :get, class: "button-primary full" %>
<h4>Update Menu</h4>

<% @items.each do |item| %>
    <div class="container order">
      <div class="row">
      <div class="twelve columns"><span class="item-name"><%= item.name %></strong></div>
      </div>
      <div class="row">
      <div class="twelve columns"><%= item.description %></div>
      </div>
      <div class="row">
      <div class="twelve columns"><%= item.price %></div>
      </div>
      <div class="row">
      <div class="twelve columns"><%= button_to "Remove", item_path(item), method: :delete, class: "button-primary"%></div>
      </div>
      <div class="row">
      <div class="twelve columns"><%= button_to "Edit", edit_item_path(item), method: :get, class: "button-primary" %></div>
      </div>
    </div>
  <% end %>
  </tbody>
</table>
