<%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track' => true %>
<h4>Update Menu</h4>
<table class="striped">
  <thead>
    <tr>
        <th data-field="name">Name</th>
        <th data-field="price">Price</th>
        <th data-field="description">Description</th>
        <th data-field="edit">Edit</th>
        <th data-field="remove">Remove</th>
    </tr>
  </thead>
  <tbody>
<% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <td><%= button_to "Remove", item_path(item), method: :delete%></td>
      <td>Edit</td>
    </tr>
  <% end %>
  </tbody>
</table>
