<h2>Update Order</h2>

<%= form_for @orders do |f| %>
<%= f.label :name %>
<%= f.collection_select :item_id, Item.all, :id, :name, class: "u-full-width"%>
<%= f.label :party_id %>
<%= f.collection_select :party_id, Party.all, :id, :id, class: "u-full-width"%>
<%= f.label :quantity %>
<%= f.text_field :quantity %>
<br>
<%= f.submit :class => "button-primary" %>
<% end %>
