<%= stylesheet_link_tag    'orders', media: 'all', 'data-turbolinks-track' => true %>
<div class="row">
  <div class="four columns"></div><div class="four columns"><h4>CURRENT ORDERS</h4></div><div class="four columns"></div>
</div>

  <% @orders.in_groups_of(3, false).each do |group| %>
  <div class="row order">
   <% group.each do |order| %>
   <div class="large-4 columns color">
     <span class="white">Item: </span><span class="blue"><%= order.item.name %></span><br>
     <span class="white">Price: </span><span class="blue"><%= order.item.price %></span><br>
     <span class="white">Quantity: </span><span class="blue"><%= order.quantity %></span><br>
     <span class="white">Subtotal: </span><span class="blue"><%= order.subtotal %></span><br>
     <span class="white">Party: </span><span class="blue"><%= order.party_id %></span><br>
     <span class="white">Notes: </span><span class="blue"><%= order.note %></span><br>
   <% if order.created_at.to_time > 15.minutes.ago  %>
   <span class="green"><%= order.created_at.to_time.strftime('%l:%M %p %Z')%></span><br>
   <% elsif order.created_at.to_time < 15.minutes.ago && order.created_at.to_time > 50.minutes.ago %>
   <span class="yellow"><%= order.created_at.to_time.strftime('%l:%M %p %Z')%></span><br>
   <% elsif order.created_at.to_time < 30.minutes.ago %>
   <span class="red"><%= order.created_at.to_time.strftime('%l:%M %p %Z')%></span><br>
   <% end %>
   <div class="row">
   <br>
   <div class="large-6 columns"><%= button_to " Edit ", edit_order_path(order), method: :get, type: "button", class: "button" %></div>
   <div class="large-6 columns"><%= button_to " Remove ", order_path(order), method: :delete, type: "button", class: "alert button" %></div>
   </div>
 </div>
<% end %>
</div>
<% end %>
