<%= stylesheet_link_tag    'orders', media: 'all', 'data-turbolinks-track' => true %>
<%= button_to 'HOME', '/', method: :get, class: "button-primary order " %>
<h4>New Order</h4>
<%= form_for @order do |f| %>
<%= f.label :name %>
<%= f.collection_select :item_id, Item.all, :id, :name, class: "u-full-width"%>
<%= f.label :party_id %>
<%= f.collection_select :party_id, Party.all, :id, :id, class: "u-full-width"%>
<%= f.label :quantity %>
<%= f.text_field :quantity %>
<br>
<%= f.submit :class => "button-primary" %>
<% end %>
